<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form action = "/submit" method ="POST">
        <h1>Enter username :</h1>
    <input type = text name = username>
    <br></br>
    <h1>Enter dob</h1>
    <input type=date name = date>
    <br></br>
    <label for="html">
    <input type = radio name = gender value = Male>Male</label>
    <br></br>
     <label for="html">
    <input type = radio name = gender value = Female>Female</label>
    <br></br>
    <button>Submit</button>
    </form>
</body>
</html>